/*****************
Typography
*****************/
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
html, body, li, p {
	/* font-family: 'Merriweather', serif; */
	font-family: Merriweather, Verdana, 'Times New Roman', serif;
	font-size: 17px;
	text-decoration: none;
	text-transform: none;
}

h1,h2,h3,h4,h5,h6,header,header.a, .navbar-light {
	text-decoration: none;
	text-transform: none;
	font-family: Lato, 'Alegreya Sans SC', 'Open Sans', Roboto, Helvetica, sans-serif;
}

#top h1, .page-title, .page-subtitle {
	font-size: 24px;
	font-weight: bold;
	font-family: Lato;
	margin-bottom: 0.5rem;
}
#top > div.universal-wrapper.pt-3 {
	margin-bottom: 2.5rem;
}

.media.stream-item {
	margin-bottom: 1rem;
}

.media.stream-item .article-title {
    font-size: 1.1rem;
}
.media-body > div.stream-meta, .media.stream-item .stream-meta {
    margin-top: 0;
}

/* #top h1, .page-subtitle {
	font-size: 22px;
	font-weight: bold;
	font-family: Lato;
	margin-bottom: 2.5rem;
}

 */h1 {
	font-size: 110%;
	font-weight: bold;
}

h2, h3 {
	font-size:105%;
	font-weight: bold;

}
header,header.a{
	font-weight: bold;
}

.navbar-light .navbar-brand {
  font-family: Lato, Roboto;
  font-weight: bold;
  font-size: 1.4em;
  color: #2b2b2b;
}

#navbar li.nav-item {
  font-family: Lato, Roboto;
  font-weight: normal;
  font-size: 1em;
}

.article-metadata {
	line-height: inherit;

}

/*******************
Block quotes
********************/

blockquote::before{
  content: '';
}
blockquote{
  font-size: 1em;
  width:90%;
  font-style:inherit;
  color: black;
  padding:10px 10px;
  text-align: left;
  border-left:1px solid #EDEDED;
  line-height:1.6;
  position: relative;
  background:inherit;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/* Lower size of, and add tab after, bullet */
div.pub-list-item i {
	font-size: 6px;
	padding-right: 10px;
	vertical-align: middle;
	padding-bottom: 3px;
}

div.pub-list-item a {
  font-size: 90%;
/*  vertical-align:middle;
  padding-bottom:5px;*/
}

/* div.pub-list-item li a:before {
   content: "•";
   font-size: 80%;
   padding-right: 10px;
}
 */
pre, xmp, plaintext, listing, code, pre code {
    -moz-hyphens: none;
    -epub-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    -webkit-hyphens: none;
    background-color: whitesmoke;
    color: inherit;
    display: block;
    font-size: inherit;
    hyphens: none;
    margin: 1em;
    padding: 10px;
    overflow-x: auto;
    text-align: justify;
    white-space: inherit;
    word-break: normal;
}

body {
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    padding: 0;
    text-rendering: optimizeLegibility;
    width: 100%;
}

/*Reduce padding between widget sections on home page */
.home-section {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 50px 0;
    animation: intro 0.3s both;
    animation-delay: 0.15s;
}
/*****************
Layout
******************/

.article-style {
	padding-top:10px;
	padding-bottom:10px;
}
#profile {
    text-align: center;
    padding: 25px 0 0 0;
}
#about .row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: -30px;
}

ul.network-icon {
    display: flex;
    text-align: center;
    margin: 20px auto auto auto;
    width: 50%;
    padding: 10px;

}

#about p:nth-child(1) {
    margin-top: 25px;
}

/*****************
Pics
******************/
img.article-banner {
	border-radius:1%;
	padding:10px;
}

/*****************
Continuation option, e.g. "More Posts"
******************/

p.view-all > a {
font-size: 14px;
color: #b2b2b2;
}

p.view-all > a:after {
	content: '';
}
/*****************
Profile - pic, social icons, etc.
*****************/

#profile > ul {

    justify-content: center;
    max-width: 85%;
}

#profile ul > li {
        padding-right: 2%;
    }

#profile .portrait {
  /*background-image: url('../img/ryanmccarlheadshot.jpg');*/
  width: 247.2px;
  height: 254.4px;
  /*width: 200px;
  height: 200px;*/
  margin: 0 auto;
  border-radius: 2%;

}

.big-icon {
  font-size: 1.3rem;

}

#profile > h3 {
	color: black;


}

#profile > ul li a:after, #profile h3 a:after, big-icon:after, i.fab:after, div.media.author-card > div > h5 > a:after, ul.network-icon li a:after, div.project-toolbar div a:after, #index p.view-all a:after {
		content: "";
	}
ul.share li i {
	line-height: 50px;
}
ul.share li a:after {
	content: "";
}

/**************
Share buttons
***************/
.share-box {
	margin-top:15px;
}
ul.share li a {
  font-size:10px;
  background-color: #DDDDDD;
}

#profile h3 a {
	color: #AAAAAA;
}

#projects div.card {
	min-width: 150px
	}

/**************************
Link display
***************************/
h1, h2, h3, h4 > a:after {
	content: "";
    margin-left: 0;
    top: 0;
    left: 0;
}

a:after {
    position: relative;
    content: "\FEFF°";
    margin-left: 0.10em;
    font-size: 80%;
    top: -0.30em;
    left: -0.1em;
    color: #d21c1c;
}

a:hover {
	text-decoration: none;
	color: #0095eb;
}

nav a:after {
	content: "";
}

/*******************
Tag list
********************/

/* ul, ul > li, .pub-list-item > a {
	list-style-type: none;
	list-style: none outside disc none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
}
li {
    padding-left: 1em;
}
 */


#tag-cloud > ul > li, #tag-cloud > ul > li a {
  /*width:400px;*/
  /*margin-bottom:20px;*/
  overflow:visible;
  font-size: 90%;
  line-height:1.2em;
  width: 50%;
  float:left;
  display:inline;
  list-style-type: none;
  list-style: none; /* outside disc none; */

}
